/* bannerPartners */
.bannerPartners {
}

/* heading */
.heading {
  text-align: center;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #94959a;
}

/* partner */
.partner {
  height: 52px;
  /* background */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
